/* CSS Document */
@font-face{
 font-family: "myriad-pro";
 src: url(../fonts/myriad-pro-regular.ttf);
}
@font-face{
 font-family:"Myriad Pro";
 src: url(../fonts/myriad-pro-regular.ttf);
}
@font-face{
 font-family:"Myriad Pro";
 src: url(../fonts/myriad-pro-regular.ttf);
}